.todo-list {
    max-width: 800px;
    margin: 30px auto;
}

.list-element {
    background: white;
    padding: 5px 35px;
    margin: 2px auto;
}

.task-creator-form {
    padding: 20px 0;
}

.js-form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.form-button {
    background: teal;
    color: white;
    padding: 5px 10px;
}

.form-button:hover {
    cursor: pointer;
}

.form-input {
    border: 1px solid #ccc;
    padding: 3px 10px;
    flex-basis: 80%;
}

.js-tasks {
    list-style: none;
}

.tasks-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    margin: 35px auto;
}

/** buttons**/

.btn {
    border: none;
}

.js-done {
    background: green;
    padding: 5px;
    height: 35px;
    width: 35px;

}

.js-remove {
    background: rgb(230, 13, 13);
    padding: 5px;
    height: 35px;
    width: 35px;
}

